---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
<p class="scholar-link">
  Also see my <a href="{{site.author.googlescholar}}">Google Scholar profile</a>.
</p>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
<div class="pub-card">
  <div class="pub-title">
    <a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a>
  </div>
  {% if post.authors %}
    <div class="pub-authors">{{ post.authors | markdownify | remove: "<p>" | remove: "</p>" }}</div>
  {% endif %}
  {% if post.venue %}
    <div class="pub-venue">{{ post.venue }}</div>
  {% endif %}
  <div class="pub-links">
    {% if post.paperurl %}
      <a href="{{ post.paperurl }}">Paper</a>
    {% endif %}
    {% if post.projecturl %}
      <a href="{{ post.projecturl }}">Project Page</a>
    {% endif %}
    {% if post.codeurl %}
      <a href="{{ post.codeurl }}">Code</a>
    {% endif %}
  </div>
</div>
{% endfor %}
